$TTL 604800
0.17.172.in-addr.arpa.         IN       SOA      ns1.{{ name_domain }}. admin.{{ name_domain }}. (
          2013120400 ; Serial
          604800     ; Refresh
          86400      ; Retry
          2419200    ; Expire
          604800 )   ; Negative Cache TTL
;
                   NS       ns1.{{ name_domain }}.
10		  PTR		dns.{{ name_domain }}.
9		  PTR		ntp.{{ name_domain }}.
12		  PTR		ldap.{{ name_domain }}.
11		  PTR		nfs.{{ name_domain }}.


